.Login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: black;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.App {
  background: black;
  color: white;
}

.Main-panel {
  background: white;
  color: black;
  height: 100vh;
  overflow-y: scroll;
  padding: 0px;
}

.Navbar {
  background: #000;
  color: white;
  height: 100vh;
  padding-top: 50px;
  text-align: center;
}

.Robot-panel {
  background: #000;
  color: white;
  height: 100vh;
  text-align: center;
  overflow-y: scroll;
}

.Username {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: large;
}

.Navlink {
  color: white;
}

.Navlink a:hover {
  color: rgb(218, 218, 66);
}



.Robot-media{
  background-color: bisque;
  color: black;
  text-align: left;
  padding: 5px 20px 5px 20px;
  margin: 2px;

}

.Jumbotron{
  color: white;
  background-color: black;
  padding-left: 30px;
  font-size: 3em;

}
